* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../public/img/bc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #999999;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 50%, rgba(253,187,45,0) 100%);
  }
}

.main {
  flex: 1 1 auto;
}
